@font-face {
    font-family: 'alegreya';
    src: url('../font/alegreyasanssc-black-webfont.woff2') format('woff2'),
    url('../font/alegreyasanssc-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --yellow: #ffc92f;
    --red: #d82727;
    --black: #1b1b1b;
    --titlesFont: 'Yanone Kaffeesatz', Arial, sans-serif;
}

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    transition: all .3s ease;
}

body {
    font: 1em / 1.42rem "Roboto", Arial, sans-serif;
    color: #212121;
    -webkit-font-smoozing: antialiased;
    -moz-osx-font-smoozing: grayscale;
}

.wrapper {
    overflow: hidden;
    min-width: 1310px;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ------ Hero start ------ */
.hero {
    height: 100vh;
    min-height: 650px;
    background: url("../image/hero.jpg") center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}

.header {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8em;
}

.mail {
    text-decoration: none;
    text-align: center;
    color: inherit;
}

.mail span {
    display: block;
}

.mail__title {
    margin-bottom: 3px;
}

.mail__content {
    color: var(--yellow);
    background-color: #212121;
    padding: 10px;
}

.hero__content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}

.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75px;
    background: #212121;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar__opened {
    width: 325px;
    padding: 0 3% 0 4%;
}

.sidebar__header {
    display: none;
}

.sidebar__menu {
    position: absolute;
    left: -400px;
}

.sidebar__opened .sidebar__header {
    position: absolute;
    left: 0;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.siebar__close {
    width: 29px;
    height: 29px;
    color: var(--yellow);
    text-decoration: none;
    position: absolute;
    right: 23px;
    top: -4px;
}

.sidebar__opened .sidebar__menu {
    left: 0;
    width: 100%;
    text-align: center;
}

.sidebar__menu__item {
    margin-bottom: 20px;
}

.sidebar__menu__link {
    font-size: 20px;
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--titlesFont);
}

.sidebar__menu__link:hover {
    color: var(--red);
}
/*
.sidebar__hamburger {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
}

.sidebar__opened .sidebar__hamburger {
    display: none;
}

.sidebar__hamburger_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.sidebar__hamburger_link span {
    display: block;
    background: var(--yellow);
    width: 100%;
    height: 2px;
}

.sidebar__hamburger_link:hover span {
    background: var(--red);
}
*/

.sidebar__hamburger {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translateX(-50%);
}

.sidebar__opened .sidebar__hamburger {
    display: none;
}

.sidebar__hamburger_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.sidebar__hamburger_link span {
    display: block;
    background: var(--yellow);
    width: 100%;
    height: 2px;
}

.sidebar__hamburger_link:hover span {
    background: var(--red);
}

.fade_slider {
    width: 100%;
    height: 100%;
}

.fade_slider__item {
    background: url('../image/slider_pic_1.png') center center / contain no-repeat;
    height: 100%;
}

.fade_slider__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-164%, -52%);
}

.lined_text {
    font-family: "alegreya", Arial, sans-serif;
    color: #fff;
    font-size: 3.93em;
    text-transform: uppercase;
    line-height: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lined_text__row {
    background: #000;
    padding: 0 17px 8px;
    margin-top: -7px;
}

.lined_text__row__color_yellow {
    color: var(--yellow);
}

.lined_text__row:nth-child(2n) {
    margin-left: 8px;
}
/* ------ Hero stop ------ */

/* ------ Product start ------ */
.products {
    margin-bottom: 160px;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.filter__item + .filter__item {
    margin-left: 40px;
}

.filter__link {
    font-family: var(--titlesFont);
    text-transform: uppercase;
    padding: 5px 20px;
    color: var(--black);
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
}

.filter__link:hover {
    color: var(--red);
}

.filter__item.active .filter__link {
    color: var(--yellow);
    background: var(--black);
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
}

.products__item {
    width: 302px;
    height: 386px;
    background-color: var(--yellow);
    margin: 0 0 35px 25px;
    position: relative;
}

.products__price {
    position: absolute;
    left: -6px;
    top: 18px;
    width: 126px;
    border-bottom: solid 45px var(--black);
    border-left: solid 5px transparent;
    border-right: solid 2px transparent;
    transform: rotate(-181deg);
}

.products__price_amount {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--titlesFont);
    color: #FFF;
    transform: rotate(181deg);
    text-align: center;
    position: relative;
    top: 30px;
}

.products__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(35,35,35,.8);
    font-size: 15px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

.products__item:hover .products__desc {
    transform: translateY(0%);
}

.btn {
    text-transform: uppercase;
    font-family: var(--titlesFont);
    font-size: 24px;
    padding: 3px 30px;
    background-color: var(--black);
    color: var(--yellow);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
}

.btn:hover {
    background: var(--red);
    color: #FFF;
}

.products__img {
    display: block;
    max-width: 90%;
    max-height: 100%;
    padding: 23px 30px;
}

.products__desc_text {
    text-align: center;
    margin-bottom: 18px;
}

.products__item_color_black {
    background-color: var(--black);
}

.products__item_size_double {
    width: 630px;
    height: 545px;
}

.products__item_color_black .products__price {
    border-bottom-color: var(--yellow);
}

.products__item_color_black .products__price_amount {
    color: var(--black);
}
/* ------ Product stop ------ */

/* ------ Collections start ------ */
.collections {
    margin-bottom: 135px;
}

.collections__list {
    display: flex;
}

.collections__item {
    min-height: 474px;
    flex: 1;
    overflow: hidden;
    margin-right: 30px;
    background: url("../image/pattern.png") center center / 500px;
    position: relative;
}

.collections__item:last-child {
    margin-right: 0;
}

.collections__item:hover .btn {
    background: var(--red);
    color: #FFF;
}

.collections__item:before {
    content: '';
    display: block;
    position: absolute;
    height: 175%;
    width: 60%;
    top: -20%;
    left: -18%;
    background: center center / contain no-repeat;
}

.collections__item_type_guys:before {
    background-image: url("../image/collection_man.png");
}

.collections__item_type_girls:before {
    background-image: url("../image/collection_woman.png");
    width: 80%;
    left: -20%;
}

.collections__link {
    display: block;
    padding: 75px 13% 75px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    position: relative;
    height: 100%;
}

.collections__title {
    font: bold 70px/1em var(--titlesFont);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 15px;
}

.collections__desc {
    margin-bottom: 28px;
}
/* ------ Collections stop ------ */

/* ------ Footer start ------ */
.footer {
    margin-bottom: 115px;
}

.footer__container {
    padding: 0 7%;
}

.site__menu__sections {
    display: flex;
    justify-content: space-between;
}

.site__menu_col {
    margin-right: 20px;
}

.site__menu_col:last-child {
    margin-right: 0;
}

.site__menu_title {
    font: bold 24px/1em var(--titlesFont);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site__menu_item {
    margin-bottom: 15px;
}

.site__menu_link {
    color: #737373;
    font-size: 15px;
    text-decoration: none;
}

.site__menu_link:hover {
    color: var(--red);
}

.site__menu_text {
    font-size: 15px;
    color: var(--black);
    margin-bottom: 30px;
}

.site__menu_text_row {
    color: inherit;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.extras {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    margin: 120px 0 90px 0;
}

.extras__col {
    width: calc(50% - 20px);
}

.extras__best {
    text-decoration: none;
    background-color: var(--black);
    display: block;
    color: #FFF;
    text-align: center;
    padding: 50px 10px;
    font: bold 50px/1em var(--titlesFont);
    text-transform: uppercase;
}

.extras__best:hover {
    background-color: var(--yellow);
    color: var(--black);
}

.extras__col_socials {
    background-color: var(--yellow);
    min-height: 100%;
    height: 100%;
    background: url("../image/pattern.png") center center / contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 50px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    width: 39px;
    height: 39px;
    transition: all 70ms ease;
}

.link__facebook {
    background: url('../image/social_fb.png') 0 0 no-repeat;
}

.link__twitter {
    background: url('../image/social_twitter.png') 0 0 no-repeat;
}

.link__insta {
    background: url('../image/social_instagram.png') 0 0 no-repeat;
}

.link__pinterest {
    background: url('../image/social_pinterest.png') 0 0 no-repeat;
}

.socials__link:hover {
    background-position: 0 -39px;
}
/* ------ Footer stop ------ */